.projects {
  position: relative;
  height: calc(100vh - 80px);
  height: calc(100svh - 80px);
  padding-top: 60px;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__title {

  }

  &__text {
    font-size: 1.2em;
    line-height: 1.5;
  }
}
