.hero {
  height: 100svh;
  // padding-top: 60px;
  // border-bottom: 1px solid $color-yellow;

  .container {
    height: 100%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 100%;
  }

  &__title {
    font-size: 5em;
    color: $color-yellow;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1rem;
  }
  
  &__subtitle {
    font-family: $font-2;
    font-size: 1.5em;
    // font-weight: 200;
    // text-transform: uppercase;
  }

  &__text {
    font-size: 1.2em;
    // font-weight: 200;
    text-align: left;
    width: 50%;
    line-height: 1.5;
    
    span {
      // font-weight: 300;
      color: $color-yellow;
    }
  }

  &__btns {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
}
