@import "common";

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  // /* Firefox */
  // * {
  //   scrollbar-width: thin;
  //   scrollbar-color: $color-blue $color-black;
  // }
  // /* Chrome, Edge, and Safari */
  // *::-webkit-scrollbar {
  //   width: 12px;
  // }
  // *::-webkit-scrollbar-track {
  //   background: $color-black;
  // }
  // *::-webkit-scrollbar-thumb {
  //   background: $color-blue;
  //   border-radius: 20px;
  //   border: 2px solid $color-black;
  // }
}

body {     
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $font-1;
  background-color: $color-black;
  color: $color-white;
  font-size: 16px;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
}

main, section {
	display: block;
}

img {
  max-width: 100%;
  border: 0;
}

:focus {
  outline: none;
} 

button::-moz-focus-inner {
  border: none;
}

button, input, textarea, select {
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
  background: none;
}

input:not([type=checkbox]):not([type=radio]), textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

input::-ms-clear {
	display: none;
}

.main {
  &__wrapper {
    // display: flex;
    // flex-direction: column;
    // min-height: 100vh;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;

  @media (min-width: $media-md) {
    max-width: $media-md;
    padding: 0 30px;
  }

  @media (min-width: $media-lg) {
    max-width: $media-lg;
    padding: 0 30px;
  }

  @media (min-width: $media-xl) {
    max-width: $media-xl;
    padding: 0 30px;
  }

  @media (min-width: $media-xxl) {
    max-width: $media-xxl;
    padding: 0 120px;
  }
}

.btn {
  display: block;
  color: $color-white;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid $color-yellow;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $color-black;
    background-color: $color-yellow;
    // filter: drop-shadow(0 0 2.5em $color-yellow);
  }

  &.btn--secondary {
    color: $color-black;
    background-color: $color-yellow;

    &:hover {
      color: $color-black;
      // filter: drop-shadow(0 0 2.5em $color-yellow);
    }
  }
}
