.skills {
  padding: 80px 0;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
  }
}
