.contacts {
  position: relative;
  height: calc(100vh - 80px);
  height: calc(100svh - 80px);
  padding-top: 60px;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__title {
  }

  &__text {
    font-size: 1.2em;
    line-height: 1.5;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-top: 20px;
  }

  &__link {
    color: inherit;
    text-decoration: none;

    svg {
      height: 40px;
      width: 40px;
    }
  }

}
