.about {
  position: relative;
  height: 100svh;
  padding-top: 60px;

  &__wrap {

  }

  &__photo {
    height: 250px;
    width: 250px;
    background-color: $color-gray;
    border-radius: 50%;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      min-height: 100%;
      width: 100%;
    }
  }
}
