.header {
  background: $color-main-blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;

    &-item {

    }

    &-link {
      color: $color-snow;
      text-decoration: none;
      padding: 5px 10px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $color-main-green;
      }
    }
  }
}
