.header {
  background: $color-black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 2px solid $color-yellow;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 60px;
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;

    &-item {

    }

    &-link {
      color: $color-white;
      text-decoration: none;
      padding: 5px 10px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $color-yellow;
      }
    }
  }
}
