.header {
  // background: rgba(255, 255, 255, 0); /* полупрозрачный фон */
  // backdrop-filter: blur(10px); /* размытие фона за элементом */
  // -webkit-backdrop-filter: blur(10px); 

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--color-background);
  // border-bottom: 2px solid var(--color-primary);

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }

  &__menu {

    &-list {
      display: flex;
      align-items: center;
      gap: 24px;
      list-style: none;  
    }

    &-item {

    }

    &-link {
      color: inherit;
      text-decoration: none;
      // padding: 5px 10px;
      transition: all 0.1s ease-in-out;
      text-transform: uppercase;

      &:hover {
        color: var(--color-primary);
        // filter: drop-shadow(0 0 1em $color-yellow);
      }
    }
  }

  &__socials {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;

    &-link {
      color: inherit;

      &:hover {
        svg {
          fill: var(--color-primary);
        }
      }

      svg {
        width: 28px;
        height: 28px;
        transition: all 0.1s ease-in-out;
      }
    }
  }
}
